@font-face {
    font-family: "NTA";
    src: url("../fonts/NTA-Bold-20130221.eot");
    src: url("../fonts/NTA-Light-20130221.woff") format("woff")
}

body {
    padding: 50px;
    font: 1em "NTA", Fallback, Helvetica, Arial, sans-serif;
    background-color: #005EA5;
    color: white;
    text-align: center;
}

a {
    color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.buttons {
    text-align: center;
    margin: 0 auto;
}

.yes, .email {
    width: 50%;
    float: left;
}

.no, .tweet {
    width: 50%;
    float: right;
}

.no button {
    background-color: #c0392b;
    height: 2.5em;
    width: 66%;
    border: none;
    border-bottom: 0.2em solid #e74c3c;
    font-size: 35px;
    color: whitesmoke;
}

.yes button {
    background-color: #27ae60;
    height: 2.5em;
    width: 66%;
    border: none;
    border-bottom: 0.2em solid #2ecc71;
    font-size: 35px;
    color: whitesmoke;
    margin-bottom: 2em;
}

.postcode, .vote-check {
    width: 30%;
    margin: 0 auto;
}

.postcode input, .vote-check input {
    background-color: #003D6B;
    border: none;
    border-bottom: 0.2em solid #358ED2;
    font-size: 2em;
    color: whitesmoke;
    padding: 0.5em;
    text-align: center;
}

#postcodeSubmit, #emailSubmit {
    font-size: 1.6em;
}

#constituency {
    margin-top: -1em;
    font-size: 1em;
    font-style: italic;
}

.email button, .tweet button {
    background-color: #003D6B;
    border: none;
    border-bottom: 0.5em solid #358ED2;
    width: 66%;
}

.italic {
    font-size: 1em;
    font-style: italic;
    padding: 5px;
}

.email-svg, .twitter-svg {
    width: 50%;
}

@media all and (min-width: 699px) {
    .buttons {
        width: 60%;
    }
}

@media all and (max-width: 699px) {
    body {
        padding: 10px;
    }
    .postcode, .vote-check {
        width: 100%;
    }
}

.emails {
    float: left;
    margin: auto 0;
    padding: 3em;
}
